+document-section('Tooltip Target Examples')
  //-  _PREV Target
  - var option = { tooltipLabel: '_prev', target: '_prev' }
  h3.coral-Heading.coral-Heading--3 #{option.tooltipLabel}
  p!= 'Achieved using <code class="atv">target="' + option.tooltipLabel + '"</code>.'
  +markup-example()
    div(class="coralDocs-TooltipTarget") Point at previous
    +tooltip-markup(option)

  //- _NEXT Target
  - var option = { tooltipLabel: '_next', target: '_next' }
  h3.coral-Heading.coral-Heading--3 #{option.tooltipLabel}
  p!= 'Achieved using <code class="atv">target="' + option.tooltipLabel + '"</code>.'
  +markup-example()
    +tooltip-markup(option)
    div(class="coralDocs-TooltipTarget") Point at next

  //- CSS Selector Target
  - var option = { tooltipLabel: 'CSS Selector', target: '.coralDocs-TooltipTarget--cssTarget' }
  h3.coral-Heading.coral-Heading--3 #{option.tooltipLabel}
  p!= 'Achieved using <code class="atv">target="&lt;CSS_SELECTOR&gt;"</code>.'
  +markup-example()
    +tooltip-markup(option)
    div(class="coralDocs-TooltipTarget coralDocs-TooltipTarget--cssTarget", id="abc") Point at CSS selector

  //- DOM Element Target
  - var option = { tooltipLabel: 'DOM Element' }
  h3.coral-Heading.coral-Heading--3 #{option.tooltipLabel}

  div(id=option.id+'_markup')
    div(id="tooltipDOMTarget", class="coralDocs-TooltipTarget").
      DOM Target
    script(id=option.id+'_example').
      var target = document.querySelector('#tooltipDOMTarget');
      var tooltip = new Coral.Tooltip().set({
        target: target,
        content: {
          innerHTML: 'I am a tooltip'
        }
      });
      document.body.appendChild(tooltip);

  +code-example-prettyprint(option.id+'_example')
