<nav class="actionbar">
  <div class="left">
    <a href="#" class="icon-{{actionName}} hidden-accessible" title="{{actionTitle}}">{{actionTitle}}</a>
    <span class="divider"></span>
    <a href="#" class="icon-{{actionName}} hidden-accessible" title="{{actionTitle}}">{{actionTitle}}</a>
  </div>
  <div class="center">
    <h1>{{heading}}</h1>
  </div>
  <div class="right">
    <a href="#" class="icon-{{actionName}} hidden-accessible" title="{{actionTitle}}">{{actionTitle}}</a>
    <a href="#" class="icon-{{actionName}} hidden-accessible" title="{{actionTitle}}">{{actionTitle}}</a>
  </div>
</nav>