<!-- 
  *** DEPRECATION WARNING ***

  Use of Handlebars.js is deprecated.  Coral UI will no longer natively 
  support Handlebars.js templates in an upcoming version.  Please fix this 
  implementation and remove this warning.

  See https://issues.adobe.com/browse/CUI-1025 for details                      
                                                                          
-->
<nav class="toolbar">
  <div class="left">
    <a href="#" class="icon-{{actionName}}>{{actionTitle}}</a>
    <span class="divider"></span>
    <a href="#" class="icon-{{actionName}}>{{actionTitle}}</a>
  </div>
  <div class="center">
    <h1>{{heading}}</h1>
  </div>
  <div class="right">
    <a href="#" class="icon-{{actionName}}>{{actionTitle}}</a>
    <a href="#" class="icon-{{actionName}}>{{actionTitle}}</a>
  </div>
</nav>